.container-btn{
    display: flex;
    justify-content: flex-end;
    /* margin-top: 30px; */
    
}
.price-button{
    min-width: 120px;
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid var(--primaryColor);
    border-radius: 8px;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.price-button.fullwidth{
    width: 100%;
}

.price-button:hover{
    background-color: var(--primaryColor);
    color: #fff;
}