:root{
    --primaryColor: #f12a6c;
    --borderColor: rgba(231, 225, 225, 0.897);
    --fontColor: #333;
    --footerColor: #f7f7f7;
    --whiteColor: #fff;
    --fontColorLight: rgb(113, 113, 113);
    /*animation*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}


.react-confirm-alert-body{
    text-align: center !important;
}

.react-confirm-alert-button-group{
    justify-content: center !important;
}

